fastapi
uvicorn
langchain
langchain-community
langchain-ollama
langchain_huggingface
langchain_postgres
pydantic
python-dotenv
httpx
requests

# document loader
pdfplumber
unstructured[pdf]
pymupdf
statistics
python-docx

# RAG
rank-bm25