<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 인터페이스 경로와 동일해야 함 -->
<mapper namespace="com.aiagent.mcpserver.mapper.ToolMapper">
    <select id="initialize" resultType="com.aiagent.mcpserver.model.ToolInfo">
        SELECT tool_id
             , tool_name
             , tool_description
             , tool_type
             , function_name
             , args_schema
        FROM tool_info
    </select>
    <select id="searchUsers" resultType="com.aiagent.mcpserver.model.SearchUserInfo" parameterType="com.aiagent.mcpserver.model.SearchUserInfo">
        SELECT
            ssn
             , name
             , age
             , gender
             , email
        FROM user_info
        WHERE 1=1
        <if test="name != null and !name.equals('')">
            AND name = #{name}
        </if>
        <!-- 나이 조건 -->
        <if test="age != null">
            <choose>
                <when test="ageCondition == 'GT'">
                    <![CDATA[AND age > #{age}]]>
                </when>
                <when test="ageCondition == 'LT'">
                    <![CDATA[AND age < #{age}]]>
                </when>
                <when test="ageCondition == 'GE'">
                    <![CDATA[AND age >= #{age}]]>
                </when>
                <when test="ageCondition == 'LE'">
                    <![CDATA[AND age <= #{age}]]>
                </when>
                <otherwise>
                    <![CDATA[AND age = #{age}]]>
                </otherwise>
            </choose>
        </if>
        <if test="gender != null and !gender.equals('')">
            AND gender = #{gender}
        </if>
        <if test="email != null and !email.equals('')">
            AND email = #{email}
        </if>
        <if test="jobId != null and !jobId.equals('')">
            AND jobId = #{jobId}
        </if>
    </select>
    <select id="searchJobs" resultType="com.aiagent.mcpserver.model.SearchJobInfo" parameterType="com.aiagent.mcpserver.model.SearchJobInfo">
        SELECT
            job_id,
            job_title,
            salary
        FROM user_job_Info
        WHERE 1 = 1
        <if test="jobTitle != null and !jobTitle.equals('')">
            AND job_title = #{jobTitle}
        </if>
        <if test="salary != null">
            <choose>
                <when test="salaryCondition == 'GT'">
                    <![CDATA[AND salary > #{salary}]]>
                </when>
                <when test="salaryCondition == 'LT'">
                    <![CDATA[AND salary < #{salary}]]>
                </when>
                <when test="salaryCondition == 'GE'">
                    <![CDATA[AND salary >= #{salary}]]>
                </when>
                <when test="salaryCondition == 'LE'">
                    <![CDATA[AND salary <= #{salary}]]>
                </when>
                <otherwise>
                    <![CDATA[AND salary = #{salary}]]>
                </otherwise>
            </choose>
        </if>
    </select>
    <select id="searchWeatherRecords" resultType="com.aiagent.mcpserver.model.SearchWeatherInfo" parameterType="com.aiagent.mcpserver.model.SearchWeatherInfo">
        SELECT
            target_date,
            weather,
            temperature,
            humidity
        FROM weather_info
        WHERE 1=1
        <if test="targetDate != null and !targetDate.equals('')">
            AND target_date = #{targetDate}
        </if>
        <if test="weather != null and !weather.equals('')">
            AND weather = #{weather}
        </if>
        <if test="temperature != null">
            <choose>
                <when test="temperatureCondition == 'GT'">
                    <![CDATA[AND temperature > #{temperature}]]>
                </when>
                <when test="temperatureCondition == 'LT'">
                    <![CDATA[AND temperature < #{temperature}]]>
                </when>
                <when test="temperatureCondition == 'GE'">
                    <![CDATA[AND temperature >= #{temperature}]]>
                </when>
                <when test="temperatureCondition == 'LE'">
                    <![CDATA[AND temperature <= #{temperature}]]>
                </when>
                <otherwise>
                    <![CDATA[AND temperature = #{temperature}]]>
                </otherwise>
            </choose>
        </if>
        <if test="humidity != null">
            <choose>
                <when test="humidityCondition == 'GT'">
                    <![CDATA[AND humidity > #{humidity}]]>
                </when>
                <when test="humidityCondition == 'LT'">
                    <![CDATA[AND humidity < #{humidity}]]>
                </when>
                <when test="humidityCondition == 'GE'">
                    <![CDATA[AND humidity >= #{humidity}]]>
                </when>
                <when test="humidityCondition == 'LE'">
                    <![CDATA[AND humidity <= #{humidity}]]>
                </when>
                <otherwise>
                    <![CDATA[AND humidity = #{humidity}]]>
                </otherwise>
            </choose>
        </if>
    </select>
</mapper>